openapi: 3.1.0
info:
  title: SkillChain Learning Platform API
  version: 1.0.0
  description: Enterprise learning platform REST API
servers:
  - url: https://api.skillchain.com/api/v1
security:
  - bearerAuth: []
tags:
  - name: Auth
  - name: Courses
  - name: Instructor
  - name: Student
  - name: LiveSessions
  - name: Hackathons
  - name: HackathonOrganizer
  - name: Assessments
  - name: Payments
  - name: Messaging
  - name: Reviews
  - name: Admin
  - name: Analytics
  - name: AI
  - name: Webhooks
  - name: Certificates
  - name: Progress
  - name: Notifications
  - name: Affiliate
  - name: Privacy
  - name: Support
paths:
  # ---------- Authentication ----------
  /auth/register:
    post:
      tags: [Auth]
      summary: Register user
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: Created
  /auth/login:
    post:
      tags: [Auth]
      summary: Login with credentials
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Authenticated — no MFA factor confirmed on this account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '202':
          description: Password correct, MFA required — complete with POST /auth/mfa/login-verify
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MFALoginChallenge'
        '401': { description: Invalid credentials }
        '429': { description: Rate limited (10/min per IP) }
  /auth/token/refresh:
    post:
      tags: [Auth]
      summary: Refresh access token
      security: []
      responses:
        '200': { description: Token refreshed }
  /auth/logout:
    post:
      tags: [Auth]
      summary: Revoke refresh token / end session
      responses:
        '204': { description: Logged out }
  /auth/mfa/enroll:
    post:
      tags: [Auth]
      summary: Start TOTP enrollment for the current user
      responses:
        '201':
          description: Pending factor created — client renders provisioning_uri as a QR code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MFAEnrollResponse'
  /auth/mfa/verify:
    post:
      tags: [Auth]
      summary: Confirm a pending TOTP enrollment with a code
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MFACodeRequest'
      responses:
        '200': { description: Factor confirmed }
        '401': { description: Incorrect code }
        '404': { description: No pending enrollment — call /auth/mfa/enroll first }
  /auth/mfa/login-verify:
    post:
      tags: [Auth]
      summary: Complete a login that returned mfa_required — exchanges mfa_token + code for real tokens
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MFALoginVerifyRequest'
      responses:
        '200':
          description: MFA verified — login complete
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401': { description: 'Incorrect code, or mfa_token expired/invalid' }
  /auth/oauth/{provider}/token:
    post:
      tags: [Auth]
      summary: >-
        Exchange a provider-issued token for platform JWTs. The client performs the OAuth
        flow with the provider's own SDK (Google Sign-In, Sign in with Apple, Facebook Login)
        and sends the resulting token here for verification — see
        docs/04-platform-structure/02-core-flows.md §8 for why this platform uses a
        token-exchange pattern rather than a server-driven redirect flow.
      security: []
      parameters:
        - in: path
          name: provider
          required: true
          schema: { type: string, enum: [google, apple, facebook] }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token:
                  type: string
                  description: ID token (Google/Apple) or access token (Facebook)
      responses:
        '200':
          description: Verified — logged in (existing identity/account) or registered (new account)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401': { description: 'Token failed provider verification, or would link an unverified email to an existing account' }
        '404': { description: Unknown provider }
  /auth/me:
    get:
      tags: [Auth]
      summary: Get current user profile
      responses:
        '200': { description: Current user }
    patch:
      tags: [Auth]
      summary: Update current user profile
      responses:
        '200': { description: Profile updated }
    put:
      tags: [Auth]
      summary: Replace current user profile
      responses:
        '200': { description: Profile updated }
  /auth/me/avatar:
    post:
      tags: [Auth]
      summary: Upload or replace the current user's avatar image (multipart/form-data)
      responses:
        '200': { description: Avatar updated }

  # ---------- Course Catalog ----------
  /courses:
    get:
      tags: [Courses]
      summary: List courses
      security: []
      parameters:
        - in: query
          name: cursor
          schema: { type: string }
        - in: query
          name: category
          schema: { type: string }
        - in: query
          name: language
          schema: { type: string }
        - in: query
          name: difficulty
          schema: { type: string, enum: [beginner, intermediate, advanced] }
      responses:
        '200':
          description: Course list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseListResponse'
  /courses/{courseId}:
    get:
      tags: [Courses]
      summary: Get course details
      security: []
      parameters:
        - in: path
          name: courseId
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Course details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Course'
  /courses/{courseId}/preview:
    get:
      tags: [Courses]
      summary: Get free preview content for a course
      security: []
      parameters:
        - in: path
          name: courseId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Preview lessons/videos }
  /categories:
    get:
      tags: [Courses]
      summary: List categories
      security: []
      responses:
        '200': { description: Category list }
    post:
      tags: [Admin]
      summary: Create a category (requires categories.manage)
      responses:
        '201': { description: Category created }
        '403': { description: Missing categories.manage permission }
  /categories/{categoryId}:
    get:
      tags: [Courses]
      summary: Get a single category
      security: []
      parameters:
        - in: path
          name: categoryId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Category detail }
    patch:
      tags: [Admin]
      summary: Update a category (requires categories.manage)
      parameters:
        - in: path
          name: categoryId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Category updated }
    put:
      tags: [Admin]
      summary: Replace a category (requires categories.manage)
      parameters:
        - in: path
          name: categoryId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Category updated }
    delete:
      tags: [Admin]
      summary: Delete a category (requires categories.manage)
      parameters:
        - in: path
          name: categoryId
          required: true
          schema: { type: string }
      responses:
        '204': { description: Category deleted }
        '400': { description: Category is still assigned to one or more courses }
  /tags:
    get:
      tags: [Courses]
      summary: List tags
      security: []
      responses:
        '200': { description: Tag list }
    post:
      tags: [Courses]
      summary: Create a tag, or return the existing one with a matching name (case-insensitive)
      responses:
        '200': { description: Existing tag with this name returned }
        '201': { description: Tag created }
  /tags/{tagId}:
    get:
      tags: [Courses]
      summary: Get a single tag
      security: []
      parameters:
        - in: path
          name: tagId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Tag detail }
    patch:
      tags: [Admin]
      summary: Update a tag (requires tags.manage)
      parameters:
        - in: path
          name: tagId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Tag updated }
    put:
      tags: [Admin]
      summary: Replace a tag (requires tags.manage)
      parameters:
        - in: path
          name: tagId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Tag updated }
    delete:
      tags: [Admin]
      summary: Delete a tag (requires tags.manage)
      parameters:
        - in: path
          name: tagId
          required: true
          schema: { type: string }
      responses:
        '204': { description: Tag deleted }
  /instructors:
    get:
      tags: [Courses]
      summary: List every instructor with at least one published course
      security: []
      responses:
        '200': { description: Instructor list }
  /instructors/{instructorId}:
    get:
      tags: [Courses]
      summary: Get an instructor's public profile and their published courses
      security: []
      parameters:
        - in: path
          name: instructorId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Instructor detail }
        '404': { description: "No such instructor, or they have no published courses" }
  # NOTE: a dedicated faceted /search/courses endpoint (text/rating/price
  # filters, sort_by) was planned but never built — GET /courses only
  # supports category/language/difficulty filters. GET /ai/search below is
  # the AI-powered semantic search that was built instead. Removed from
  # this frozen spec rather than documenting an endpoint that returns 404.

  # ---------- Instructor Content Management ----------
  /instructor/courses:
    get:
      tags: [Instructor]
      summary: List the current instructor's own courses
      responses:
        '200': { description: Course list }
    post:
      tags: [Instructor]
      summary: Create course
      responses:
        '201': { description: Course created }
  /instructor/courses/{courseId}:
    get:
      tags: [Instructor]
      summary: Get one of the current instructor's own courses
      parameters:
        - in: path
          name: courseId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Course detail }
    patch:
      tags: [Instructor]
      summary: Update a draft, rejected, or published course (notifies enrolled students if published)
      parameters:
        - in: path
          name: courseId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Course updated }
    put:
      tags: [Instructor]
      summary: Replace a draft, rejected, or published course (notifies enrolled students if published)
      parameters:
        - in: path
          name: courseId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Course updated }
  /instructor/courses/{courseId}/submit-review:
    post:
      tags: [Instructor]
      summary: Submit course for content review
      parameters:
        - in: path
          name: courseId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Submitted for review }
  /instructor/courses/{courseId}/publish:
    post:
      tags: [Instructor]
      summary: Publish an approved course
      parameters:
        - in: path
          name: courseId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Course published }
  /instructor/courses/{courseId}/sections:
    get:
      tags: [Instructor]
      summary: List sections for one of the current instructor's own courses
      parameters:
        - in: path
          name: courseId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Section list }
    post:
      tags: [Instructor]
      summary: Create a course section
      parameters:
        - in: path
          name: courseId
          required: true
          schema: { type: string }
      responses:
        '201': { description: Section created }
  /instructor/sections/{sectionId}/lessons:
    get:
      tags: [Instructor]
      summary: List lessons within a section owned by the current instructor
      parameters:
        - in: path
          name: sectionId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Lesson list }
    post:
      tags: [Instructor]
      summary: Create a lesson within a section
      parameters:
        - in: path
          name: sectionId
          required: true
          schema: { type: string }
      responses:
        '201': { description: Lesson created }
  /instructor/lessons/{lessonId}:
    get:
      tags: [Instructor]
      summary: Get a lesson within a course the current instructor owns
      parameters:
        - in: path
          name: lessonId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Lesson detail }
    patch:
      tags: [Instructor]
      summary: Update a lesson, including attaching/replacing its content_file (video/PDF) — only while the course is draft or rejected
      parameters:
        - in: path
          name: lessonId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Lesson updated }
    put:
      tags: [Instructor]
      summary: Replace a lesson — only while the course is draft or rejected
      parameters:
        - in: path
          name: lessonId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Lesson updated }
  # NOTE: direct-to-provider video upload-init and lesson-resource-attach
  # endpoints were planned but never built — Lesson's own docstring
  # (apps/content/models.py) says video provider/playback metadata is a
  # deferred follow-up. Removed rather than documenting endpoints that
  # return 404.
  /instructor/courses/{courseId}/quizzes:
    post:
      tags: [Instructor]
      summary: Create a quiz for a course
      parameters:
        - in: path
          name: courseId
          required: true
          schema: { type: string }
      responses:
        '201': { description: Quiz created }
  /instructor/courses/{courseId}/assignments:
    get:
      tags: [Instructor]
      summary: List assignments for a course the current instructor owns
      parameters:
        - in: path
          name: courseId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Assignment list }
    post:
      tags: [Instructor]
      summary: Create an assignment for a course
      parameters:
        - in: path
          name: courseId
          required: true
          schema: { type: string }
      responses:
        '201': { description: Assignment created }
  /instructor/courses/{courseId}/students:
    get:
      tags: [Instructor]
      summary: List every student enrolled in a course the current user teaches, with aggregate progress
      parameters:
        - in: path
          name: courseId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Student roster with progress }
  /instructor/courses/{courseId}/coupons:
    post:
      tags: [Instructor]
      summary: Create a course-scoped coupon
      parameters:
        - in: path
          name: courseId
          required: true
          schema: { type: string }
      responses:
        '201': { description: Coupon created }
  /instructor/courses/{courseId}/coding-exercises:
    post:
      tags: [Instructor]
      summary: Create a coding exercise within a course
      parameters:
        - in: path
          name: courseId
          required: true
          schema: { type: string }
      responses:
        '201': { description: Coding exercise created }
  /instructor/assignments/{assignmentId}/submissions:
    get:
      tags: [Instructor]
      summary: List submissions for an assignment the instructor owns
      parameters:
        - in: path
          name: assignmentId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Submission list }
  /instructor/assignments/{assignmentId}/submissions/{submissionId}/grade:
    post:
      tags: [Instructor]
      summary: Grade an assignment submission (or approve/edit an AI-suggested grade)
      parameters:
        - in: path
          name: assignmentId
          required: true
          schema: { type: string }
        - in: path
          name: submissionId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Submission graded }
  /assignments/submissions/{submissionId}/approve-ai-grade:
    post:
      tags: [Instructor]
      summary: Approve an AI-suggested grade as-is, without instructor edits
      parameters:
        - in: path
          name: submissionId
          required: true
          schema: { type: string }
      responses:
        '200': { description: AI-suggested grade approved }
  # NOTE: standalone /instructor/dashboard/revenue and
  # /instructor/dashboard/analytics endpoints were planned but never
  # built — GET /analytics/instructor-earnings (see Analytics section)
  # and GET /instructor/wallet below cover the same data. Removed rather
  # than documenting endpoints that return 404.
  /instructor/wallet:
    get:
      tags: [Instructor]
      summary: Get the current instructor's wallet balance
      responses:
        '200': { description: Wallet balance }
  /instructor/payouts:
    get:
      tags: [Instructor]
      summary: List the current instructor's past payouts
      responses:
        '200': { description: Payout list }
  /instructor/payout-requests:
    post:
      tags: [Instructor]
      summary: Request a payout of available balance
      responses:
        '201': { description: Payout request created }
  /instructor/apply:
    post:
      tags: [Instructor]
      summary: Apply to become an instructor
      responses:
        '201': { description: Instructor application created }

  # ---------- Student Learning ----------
  /enrollments:
    post:
      tags: [Student]
      summary: Enroll in a course
      responses:
        '201': { description: Enrolled }
  /courses/{courseId}/curriculum:
    get:
      tags: [Student]
      summary: Get the section/lesson structure for a course the current user is enrolled in (no lesson content, just the curriculum sidebar)
      parameters:
        - in: path
          name: courseId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Curriculum sections with lessons }
  /lessons/{lessonId}/content:
    get:
      tags: [Student]
      summary: Get a lesson's playable/viewable content (video or PDF file URL) for a course the current user is enrolled in
      parameters:
        - in: path
          name: lessonId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Lesson content }
  /students/me/courses:
    get:
      tags: [Student]
      summary: List purchased/enrolled courses
      responses:
        '200': { description: Enrolled course list }
  /students/me/continue-learning:
    get:
      tags: [Student]
      summary: Continue-learning feed
      responses:
        '200': { description: In-progress course list }
  /students/me/wishlist:
    get:
      tags: [Student]
      summary: List wishlist items
      responses:
        '200': { description: Wishlist }
  /students/me/wishlist/{courseId}:
    post:
      tags: [Student]
      summary: Add course to wishlist
      parameters:
        - in: path
          name: courseId
          required: true
          schema: { type: string }
      responses:
        '201': { description: Added to wishlist }
    delete:
      tags: [Student]
      summary: Remove course from wishlist
      parameters:
        - in: path
          name: courseId
          required: true
          schema: { type: string }
      responses:
        '204': { description: Removed from wishlist }
  /progress:
    post:
      tags: [Progress]
      summary: Update lesson progress
      responses:
        '200': { description: Updated }
  /progress/{enrollmentId}:
    get:
      tags: [Progress]
      summary: Get progress for an enrollment
      parameters:
        - in: path
          name: enrollmentId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Progress detail }
  /lesson-notes:
    post:
      tags: [Student]
      summary: Create a timestamped lesson note
      responses:
        '201': { description: Note created }
  /bookmarks:
    post:
      tags: [Student]
      summary: Create a lesson bookmark
      responses:
        '201': { description: Bookmark created }
  /certificates:
    get:
      tags: [Certificates]
      summary: List certificates earned by the current user
      responses:
        '200': { description: Certificate list }
  /certificates/{certificateUid}/verify:
    get:
      tags: [Certificates]
      summary: Verify certificate
      security: []
      parameters:
        - in: path
          name: certificateUid
          required: true
          schema: { type: string }
      responses:
        '200': { description: Certificate verification result }

  # ---------- Live Sessions ----------
  /instructor/conferencing-accounts/{provider}/connect:
    post:
      tags: [LiveSessions]
      summary: Start OAuth connect flow for an instructor's Zoom or Google account
      parameters:
        - in: path
          name: provider
          required: true
          schema: { type: string, enum: [zoom, google_meet] }
      responses:
        '200': { description: OAuth authorization URL issued }
  /instructor/conferencing-accounts/{provider}/callback:
    get:
      tags: [LiveSessions]
      summary: OAuth callback completing the conferencing account connect flow
      security: []
      parameters:
        - in: path
          name: provider
          required: true
          schema: { type: string, enum: [zoom, google_meet] }
      responses:
        '200': { description: Account connected }
  /instructor/conferencing-accounts:
    get:
      tags: [LiveSessions]
      summary: List connected conferencing accounts
      responses:
        '200': { description: Connected account list }
  /instructor/conferencing-accounts/{accountId}:
    delete:
      tags: [LiveSessions]
      summary: Disconnect a conferencing account and revoke tokens
      parameters:
        - in: path
          name: accountId
          required: true
          schema: { type: string }
      responses:
        '204': { description: Disconnected }
  /instructor/courses/{courseId}/live-sessions:
    post:
      tags: [LiveSessions]
      summary: Schedule a live session for a course (creates the remote meeting via provider adapter)
      parameters:
        - in: path
          name: courseId
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LiveSessionCreateRequest'
      responses:
        '201':
          description: Live session scheduled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveSession'
  /instructor/live-sessions/{liveSessionId}:
    patch:
      tags: [LiveSessions]
      summary: Reschedule or update a live session
      parameters:
        - in: path
          name: liveSessionId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Live session updated }
  /instructor/live-sessions/{liveSessionId}/cancel:
    post:
      tags: [LiveSessions]
      summary: Cancel a live session and notify registrants
      parameters:
        - in: path
          name: liveSessionId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Live session canceled }
  /instructor/live-sessions/{liveSessionId}/registrations:
    get:
      tags: [LiveSessions]
      summary: List registrants and attendance for a live session
      parameters:
        - in: path
          name: liveSessionId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Registration list }
  /courses/{courseId}/live-sessions:
    get:
      tags: [LiveSessions]
      summary: List upcoming and past live sessions for a course
      security: []
      parameters:
        - in: path
          name: courseId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Live session list }
  /students/me/live-sessions:
    get:
      tags: [LiveSessions]
      summary: List the current user's registered live sessions
      responses:
        '200': { description: Live session list }
  /live-sessions/{liveSessionId}/register:
    post:
      tags: [LiveSessions]
      summary: Register for a live session (requires course enrollment)
      parameters:
        - in: path
          name: liveSessionId
          required: true
          schema: { type: string }
      responses:
        '201': { description: Registered }
    delete:
      tags: [LiveSessions]
      summary: Cancel a live session registration
      parameters:
        - in: path
          name: liveSessionId
          required: true
          schema: { type: string }
      responses:
        '204': { description: Registration canceled }
  /live-sessions/{liveSessionId}/join:
    get:
      tags: [LiveSessions]
      summary: Get the join URL (only issued to registered students within the join window)
      parameters:
        - in: path
          name: liveSessionId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Join URL }
        '403': { description: Outside join window or not registered }
  /live-sessions/{liveSessionId}/recording:
    get:
      tags: [LiveSessions]
      summary: Get the recording playback URL once available
      parameters:
        - in: path
          name: liveSessionId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Recording metadata and playback URL }
        '404': { description: Recording not yet available }

  # ---------- Hackathons ----------
  /hackathons:
    get:
      tags: [Hackathons]
      summary: Browse hackathons (active by default; upcoming/completed/all via ?scope=)
      security: []
      parameters:
        - in: query
          name: scope
          schema: { type: string, enum: [active, upcoming, completed, all], default: active }
        - in: query
          name: host_type
          schema: { type: string, enum: [internal, partner] }
      responses:
        '200': { description: Hackathon list }
  /hackathons/{hackathonId}:
    get:
      tags: [Hackathons]
      summary: Get a hackathon's full detail, including its winners
      security: []
      parameters:
        - in: path
          name: hackathonId
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Hackathon detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hackathon'
        '404': { description: "Draft hackathon (unless you're the organizer), or nonexistent" }
  /hackathons/{hackathonId}/register:
    post:
      tags: [Hackathons]
      summary: Register for a hackathon
      parameters:
        - in: path
          name: hackathonId
          required: true
          schema: { type: string }
      responses:
        '201': { description: Registered }
        '200': { description: Already registered }
        '400': { description: 'Registration closed, or the hackathon is at capacity' }
    delete:
      tags: [Hackathons]
      summary: Withdraw a hackathon registration
      parameters:
        - in: path
          name: hackathonId
          required: true
          schema: { type: string }
      responses:
        '204': { description: Withdrawn }
  /hackathons/{hackathonId}/submission:
    post:
      tags: [Hackathons]
      summary: Submit (or replace) a project for a hackathon the current user is registered for
      parameters:
        - in: path
          name: hackathonId
          required: true
          schema: { type: string }
      responses:
        '201': { description: Submission created }
        '200': { description: Submission updated }
        '400': { description: The submission deadline has passed }
        '403': { description: Not registered for this hackathon }
  /students/me/hackathons:
    get:
      tags: [Hackathons]
      summary: List the current user's own hackathon registrations
      responses:
        '200': { description: Registration list }
  /organizer/hackathons:
    get:
      tags: [HackathonOrganizer]
      summary: List hackathons the current user organizes
      responses:
        '200': { description: Hackathon list }
    post:
      tags: [HackathonOrganizer]
      summary: Create a hackathon, internally hosted or in partnership with another organization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HackathonCreateRequest'
      responses:
        '201':
          description: Hackathon created (starts as a draft — call publish to make it visible)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hackathon'
  /organizer/hackathons/{hackathonId}:
    get:
      tags: [HackathonOrganizer]
      summary: Get a hackathon the current user organizes
      parameters:
        - in: path
          name: hackathonId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Hackathon detail }
    patch:
      tags: [HackathonOrganizer]
      summary: Update a hackathon the current user organizes
      parameters:
        - in: path
          name: hackathonId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Hackathon updated }
    put:
      tags: [HackathonOrganizer]
      summary: Replace a hackathon the current user organizes
      parameters:
        - in: path
          name: hackathonId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Hackathon updated }
  /organizer/hackathons/{hackathonId}/publish:
    post:
      tags: [HackathonOrganizer]
      summary: Publish a draft hackathon, making it visible to students
      parameters:
        - in: path
          name: hackathonId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Hackathon published }
        '400': { description: Not in draft status }
  /organizer/hackathons/{hackathonId}/cancel:
    post:
      tags: [HackathonOrganizer]
      summary: Cancel a hackathon
      parameters:
        - in: path
          name: hackathonId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Hackathon canceled }
  /organizer/hackathons/{hackathonId}/registrations:
    get:
      tags: [HackathonOrganizer]
      summary: List registrants and submissions for a hackathon the current user organizes
      parameters:
        - in: path
          name: hackathonId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Registration list }
  /organizer/hackathons/{hackathonId}/winners:
    post:
      tags: [HackathonOrganizer]
      summary: Declare a winner (placement) for a registration's submitted project
      parameters:
        - in: path
          name: hackathonId
          required: true
          schema: { type: string }
      responses:
        '201': { description: Winner declared }
        '400': { description: 'Placement/submission already used, or the registration has no submission' }
  /admin/hackathons:
    get:
      tags: [Admin]
      summary: List every hackathon platform-wide, any status or organizer (requires hackathons.manage)
      responses:
        '200': { description: Hackathon list }
  /admin/hackathons/{hackathonId}:
    get:
      tags: [Admin]
      summary: Get any hackathon regardless of organizer (requires hackathons.manage)
      parameters:
        - in: path
          name: hackathonId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Hackathon detail }
    patch:
      tags: [Admin]
      summary: Update any hackathon regardless of organizer (requires hackathons.manage)
      parameters:
        - in: path
          name: hackathonId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Hackathon updated }
    put:
      tags: [Admin]
      summary: Replace any hackathon regardless of organizer (requires hackathons.manage)
      parameters:
        - in: path
          name: hackathonId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Hackathon updated }
  /admin/hackathons/{hackathonId}/registrations:
    get:
      tags: [Admin]
      summary: List registrants and submissions for any hackathon (requires hackathons.manage)
      parameters:
        - in: path
          name: hackathonId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Registration list }
  /admin/hackathons/{hackathonId}/winners:
    post:
      tags: [Admin]
      summary: Declare a winner for any hackathon regardless of organizer (requires hackathons.manage)
      parameters:
        - in: path
          name: hackathonId
          required: true
          schema: { type: string }
      responses:
        '201': { description: Winner declared }
  /admin/hackathons/{hackathonId}/gallery-images:
    get:
      tags: [Admin]
      summary: List gallery items (photos/videos) for any hackathon (requires hackathons.manage)
      parameters:
        - in: path
          name: hackathonId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Gallery image list }
    post:
      tags: [Admin]
      summary: Add a gallery photo or video (by URL) to any hackathon (requires hackathons.manage)
      parameters:
        - in: path
          name: hackathonId
          required: true
          schema: { type: string }
      responses:
        '201': { description: Gallery image added }
  /admin/hackathons/{hackathonId}/gallery-images/{imageId}:
    delete:
      tags: [Admin]
      summary: Delete a gallery image from any hackathon (requires hackathons.manage)
      parameters:
        - in: path
          name: hackathonId
          required: true
          schema: { type: string }
        - in: path
          name: imageId
          required: true
          schema: { type: string }
      responses:
        '204': { description: Gallery image deleted }
  /admin/hackathons/{hackathonId}/cancel:
    post:
      tags: [Admin]
      summary: Force-cancel any hackathon (moderation override — requires hackathons.manage)
      parameters:
        - in: path
          name: hackathonId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Hackathon canceled }
        '403': { description: Missing the hackathons.manage permission }

  # ---------- Assessments ----------
  /quizzes/{quizId}:
    get:
      tags: [Assessments]
      summary: Get quiz detail
      parameters:
        - in: path
          name: quizId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Quiz detail }
  /quizzes/{quizId}/attempts:
    post:
      tags: [Assessments]
      summary: Start a quiz attempt
      parameters:
        - in: path
          name: quizId
          required: true
          schema: { type: string }
      responses:
        '201': { description: Attempt started }
  /quizzes/{quizId}/submit:
    post:
      tags: [Assessments]
      summary: Submit quiz answers
      parameters:
        - in: path
          name: quizId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Quiz graded }
  /assignments/{assignmentId}/submissions:
    post:
      tags: [Assessments]
      summary: Submit an assignment
      parameters:
        - in: path
          name: assignmentId
          required: true
          schema: { type: string }
      responses:
        '201': { description: Submission created }
  /students/me/grades:
    get:
      tags: [Assessments]
      summary: List quiz/assignment grades for the current user
      responses:
        '200': { description: Grade list }
  /coding-exercises/{exerciseId}:
    get:
      tags: [Assessments]
      summary: Get coding exercise detail (prompt, starter code, constraints)
      parameters:
        - in: path
          name: exerciseId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Coding exercise detail }
  /coding-exercises/{exerciseId}/submissions:
    post:
      tags: [Assessments]
      summary: Submit source code for judged execution
      parameters:
        - in: path
          name: exerciseId
          required: true
          schema: { type: string }
      responses:
        '202': { description: Submission queued for judging }
  /coding-exercises/{exerciseId}/submissions/{submissionId}:
    get:
      tags: [Assessments]
      summary: Get coding submission result
      parameters:
        - in: path
          name: exerciseId
          required: true
          schema: { type: string }
        - in: path
          name: submissionId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Submission result }

  # ---------- Commerce ----------
  /checkout/orders:
    post:
      tags: [Payments]
      summary: Create checkout order
      responses:
        '201': { description: Order created }
  /checkout/orders/{orderId}:
    get:
      tags: [Payments]
      summary: Get an order's current status plus its latest payment attempt
      parameters:
        - in: path
          name: orderId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Order detail }
  /checkout/orders/{orderId}/apply-coupon:
    post:
      tags: [Payments]
      summary: Apply a coupon code to an order
      parameters:
        - in: path
          name: orderId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Coupon applied }
  /checkout/orders/{orderId}/apply-gift-card:
    post:
      tags: [Payments]
      summary: Apply a gift card balance to an order
      parameters:
        - in: path
          name: orderId
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code: { type: string }
                amount: { type: string, description: Optional partial amount to apply }
      responses:
        '200': { description: 'Gift card applied, order totals recalculated' }
  /checkout/orders/{orderId}/pay:
    post:
      tags: [Payments]
      summary: Pay order with selected provider
      parameters:
        - in: path
          name: orderId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Payment initiated }
  /payments:
    get:
      tags: [Payments]
      summary: List payments for the current user
      responses:
        '200': { description: Payment list }
  /invoices:
    get:
      tags: [Payments]
      summary: List invoices for the current user
      responses:
        '200': { description: Invoice list }
  /refunds:
    post:
      tags: [Payments]
      summary: Request a refund for a payment
      responses:
        '201': { description: Refund requested }
  /subscriptions:
    get:
      tags: [Payments]
      # Subscriptions are created via checkout (POST /checkout/orders with
      # an item_type: plan line item), not a direct create endpoint here —
      # there is no bare "POST /subscriptions".
      summary: List subscriptions for the current user/organization
      responses:
        '200': { description: Subscription list }
  /subscriptions/{subscriptionId}/cancel:
    patch:
      tags: [Payments]
      summary: Cancel a subscription
      parameters:
        - in: path
          name: subscriptionId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Subscription canceled }
  /plans:
    get:
      tags: [Payments]
      summary: List available subscription plans
      security: []
      responses:
        '200': { description: Plan list }
  /gift-cards/{code}:
    get:
      tags: [Payments]
      summary: Look up gift card balance by code
      security: []
      parameters:
        - in: path
          name: code
          required: true
          schema: { type: string }
      responses:
        '200': { description: Gift card balance }

  # ---------- Messaging and Notifications ----------
  /threads:
    get:
      tags: [Messaging]
      summary: List message threads
      responses:
        '200': { description: Thread list }
    post:
      tags: [Messaging]
      summary: Create message thread
      responses:
        '201': { description: Thread created }
  /threads/{threadId}/messages:
    get:
      tags: [Messaging]
      summary: List messages in a thread
      parameters:
        - in: path
          name: threadId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Message list }
    post:
      tags: [Messaging]
      summary: Send a message in a thread
      parameters:
        - in: path
          name: threadId
          required: true
          schema: { type: string }
      responses:
        '201': { description: Message sent }
  /notifications:
    get:
      tags: [Notifications]
      summary: List notifications
      responses:
        '200': { description: Notification list }
  /notifications/mark-read:
    post:
      tags: [Notifications]
      summary: Mark notifications as read
      responses:
        '200': { description: Notifications marked read }

  # ---------- Reviews and Community ----------
  /courses/{courseId}/reviews:
    get:
      tags: [Reviews]
      summary: List reviews
      security: []
      parameters:
        - in: path
          name: courseId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Review list }
    post:
      tags: [Reviews]
      summary: Create review
      parameters:
        - in: path
          name: courseId
          required: true
          schema: { type: string }
      responses:
        '201': { description: Review created }
  /reviews/{reviewId}:
    patch:
      tags: [Reviews]
      summary: Update own review
      parameters:
        - in: path
          name: reviewId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Review updated }
    delete:
      tags: [Reviews]
      summary: Delete own review
      parameters:
        - in: path
          name: reviewId
          required: true
          schema: { type: string }
      responses:
        '204': { description: Review deleted }
  /courses/{courseId}/discussions:
    get:
      tags: [Reviews]
      summary: List course discussion threads
      security: []
      parameters:
        - in: path
          name: courseId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Discussion list }
    post:
      tags: [Reviews]
      summary: Post a course discussion topic/comment
      parameters:
        - in: path
          name: courseId
          required: true
          schema: { type: string }
      responses:
        '201': { description: Discussion post created }

  # ---------- Support ----------
  /support-tickets:
    get:
      tags: [Support]
      summary: List support tickets the current user is a party to (requester or assignee)
      responses:
        '200': { description: Support ticket list }
    post:
      tags: [Support]
      summary: Open a new support ticket
      responses:
        '201': { description: Support ticket created }
  /support-tickets/{ticketId}/messages:
    get:
      tags: [Support]
      summary: List messages on a support ticket the current user is a party to
      parameters:
        - in: path
          name: ticketId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Message list }
    post:
      tags: [Support]
      summary: Post a message on a support ticket
      parameters:
        - in: path
          name: ticketId
          required: true
          schema: { type: string }
      responses:
        '201': { description: Message created }

  # ---------- Affiliate ----------
  /affiliate/register:
    post:
      tags: [Affiliate]
      summary: Register the current user as an affiliate
      responses:
        '201': { description: Affiliate account created }
  /affiliate/me:
    get:
      tags: [Affiliate]
      summary: Get the current user's affiliate account
      responses:
        '200': { description: Affiliate account }
  /affiliate/referrals:
    get:
      tags: [Affiliate]
      summary: List the current affiliate's referrals
      responses:
        '200': { description: Referral list }
  /affiliate/commissions:
    get:
      tags: [Affiliate]
      summary: List the current affiliate's commissions
      responses:
        '200': { description: Commission list }
  /affiliate/wallet:
    get:
      tags: [Affiliate]
      summary: Get the current affiliate's wallet balance
      responses:
        '200': { description: Wallet balance }
  /affiliate/payout-requests:
    post:
      tags: [Affiliate]
      summary: Request a payout of available affiliate balance
      responses:
        '201': { description: Payout request created }

  # ---------- Privacy (GDPR/CCPA) ----------
  /privacy/erasure-requests:
    post:
      tags: [Privacy]
      summary: Request erasure of the current user's personal data (right to be forgotten)
      responses:
        '201': { description: Erasure request created (status may be completed or blocked) }

  # ---------- Admin ----------
  /admin/users:
    get:
      tags: [Admin]
      summary: List platform users
      responses:
        '200': { description: User list }
  /admin/users/{userId}/status:
    patch:
      tags: [Admin]
      summary: Suspend/reinstate a user
      parameters:
        - in: path
          name: userId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Status updated }
  /admin/users/{userId}/profile:
    get:
      tags: [Admin]
      summary: View a user's profile (name, bio, avatar, social links) on their behalf
      parameters:
        - in: path
          name: userId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Profile detail }
    patch:
      tags: [Admin]
      summary: Update a user's profile (name, bio, locale, timezone, social links) on their behalf
      parameters:
        - in: path
          name: userId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Profile updated }
  /admin/users/{userId}/avatar:
    post:
      tags: [Admin]
      summary: Upload or replace a user's avatar image on their behalf
      parameters:
        - in: path
          name: userId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Avatar updated }
  /admin/users/{userId}/roles/{roleCode}:
    delete:
      tags: [Admin]
      summary: Revoke a platform-scoped role from a user (e.g. removing them as an instructor)
      parameters:
        - in: path
          name: userId
          required: true
          schema: { type: string }
        - in: path
          name: roleCode
          required: true
          schema: { type: string }
      responses:
        '204': { description: Role revoked }
  /admin/instructors:
    get:
      tags: [Admin]
      summary: List instructor applications/accounts
      responses:
        '200': { description: Instructor list }
  /admin/instructors/{userId}/approve:
    post:
      tags: [Admin]
      summary: Approve an instructor application
      parameters:
        - in: path
          name: userId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Instructor approved }
  /admin/courses:
    get:
      tags: [Admin]
      summary: List every course platform-wide, any owner or status
      responses:
        '200': { description: Course list }
    post:
      tags: [Admin]
      summary: Create a draft course on behalf of a picked instructor
      responses:
        '201': { description: Course created }
  /admin/courses/{courseId}:
    get:
      tags: [Admin]
      summary: Get any course by id, any owner or status
      parameters:
        - in: path
          name: courseId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Course detail }
    patch:
      tags: [Admin]
      summary: Update any course's record fields (notifies enrolled students if published)
      parameters:
        - in: path
          name: courseId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Course updated }
    put:
      tags: [Admin]
      summary: Replace any course's record fields (notifies enrolled students if published)
      parameters:
        - in: path
          name: courseId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Course updated }
    delete:
      tags: [Admin]
      summary: Delete any course and its curriculum (blocked if it has enrollments)
      parameters:
        - in: path
          name: courseId
          required: true
          schema: { type: string }
      responses:
        '204': { description: Course deleted }
  /admin/courses/{courseId}/notify:
    post:
      tags: [Admin]
      summary: Message a course's instructor and/or its enrolled students (in-app + email)
      parameters:
        - in: path
          name: courseId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Notification sent }
  /admin/courses/pending-review:
    get:
      tags: [Admin]
      summary: List courses pending approval
      responses:
        '200': { description: Pending courses }
  /admin/courses/{courseId}/approve:
    post:
      tags: [Admin]
      summary: Approve a submitted course
      parameters:
        - in: path
          name: courseId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Course approved }
  /admin/courses/{courseId}/reject:
    post:
      tags: [Admin]
      summary: Reject a submitted course with reasons
      parameters:
        - in: path
          name: courseId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Course rejected }
  /admin/reports/revenue:
    get:
      tags: [Admin]
      summary: Revenue report
      responses:
        '200': { description: Revenue report payload }
  /admin/reports/engagement:
    get:
      tags: [Admin]
      summary: Engagement report
      responses:
        '200': { description: Engagement report payload }
  /admin/audit-logs:
    get:
      tags: [Admin]
      summary: List audit log entries
      responses:
        '200': { description: Audit log list }
  /admin/support-tickets:
    get:
      tags: [Admin]
      summary: List support tickets
      responses:
        '200': { description: Support ticket list }
  /admin/support-tickets/{ticketId}:
    patch:
      tags: [Admin]
      summary: Update support ticket status/assignment
      parameters:
        - in: path
          name: ticketId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Ticket updated }
    put:
      tags: [Admin]
      summary: Replace support ticket status/assignment
      parameters:
        - in: path
          name: ticketId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Ticket updated }
  /admin/settings:
    get:
      tags: [Admin]
      summary: Get site settings
      responses:
        '200': { description: Settings payload }
    patch:
      tags: [Admin]
      summary: Update site settings
      responses:
        '200': { description: Settings updated }
  /admin/coupons:
    get:
      tags: [Admin]
      summary: List coupons
      responses:
        '200': { description: Coupon list }
    post:
      tags: [Admin]
      summary: Create a platform-wide coupon
      responses:
        '201': { description: Coupon created }
  /admin/promotions:
    get:
      tags: [Admin]
      summary: List promotional campaigns
      responses:
        '200': { description: Promotion list }
    post:
      tags: [Admin]
      summary: Create a promotional campaign
      responses:
        '201': { description: Promotion created }
  /admin/promotions/{promotionId}:
    patch:
      tags: [Admin]
      summary: Update a promotional campaign
      parameters:
        - in: path
          name: promotionId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Promotion updated }
    put:
      tags: [Admin]
      summary: Replace a promotional campaign
      parameters:
        - in: path
          name: promotionId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Promotion updated }
  /admin/email-templates:
    get:
      tags: [Admin]
      summary: List email templates
      responses:
        '200': { description: Email template list }
  /admin/email-templates/{templateCode}:
    patch:
      tags: [Admin]
      summary: Update an email template
      parameters:
        - in: path
          name: templateCode
          required: true
          schema: { type: string }
      responses:
        '200': { description: Email template updated }
  /admin/notification-templates:
    get:
      tags: [Admin]
      summary: List notification templates
      responses:
        '200': { description: Notification template list }
  /admin/notification-templates/{templateCode}:
    patch:
      tags: [Admin]
      summary: Update a notification template
      parameters:
        - in: path
          name: templateCode
          required: true
          schema: { type: string }
      responses:
        '200': { description: Notification template updated }
  /admin/privacy/erasure-requests:
    get:
      tags: [Admin]
      summary: List all data erasure requests (compliance oversight)
      responses:
        '200': { description: Erasure request list }
  /admin/privacy/legal-holds/{userId}:
    post:
      tags: [Admin]
      summary: Place a legal hold on a user, blocking future erasure requests
      parameters:
        - in: path
          name: userId
          required: true
          schema: { type: string }
      responses:
        '201': { description: Legal hold created }
  /admin/privacy/legal-holds/{holdId}/release:
    post:
      tags: [Admin]
      summary: Release a legal hold, allowing erasure requests to proceed again
      parameters:
        - in: path
          name: holdId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Legal hold released }

  # ---------- Analytics ----------
  /analytics/revenue:
    get:
      tags: [Analytics]
      summary: Revenue analytics
      responses:
        '200': { description: Revenue analytics payload }
  /analytics/course-performance:
    get:
      tags: [Analytics]
      summary: Course performance analytics
      responses:
        '200': { description: Course performance payload }
  /analytics/student-engagement:
    get:
      tags: [Analytics]
      summary: Student engagement analytics
      responses:
        '200': { description: Engagement payload }
  /analytics/completion:
    get:
      tags: [Analytics]
      summary: Completion rate analytics
      responses:
        '200': { description: Completion payload }
  /analytics/watch-time:
    get:
      tags: [Analytics]
      summary: Watch-time analytics
      responses:
        '200': { description: Watch-time payload }
  /analytics/drop-off:
    get:
      tags: [Analytics]
      summary: Drop-off analysis
      responses:
        '200': { description: Drop-off payload }
  /analytics/instructor-earnings:
    get:
      tags: [Analytics]
      summary: Instructor earnings analytics
      responses:
        '200': { description: Earnings payload }

  # ---------- AI ----------
  /ai/tutor/sessions:
    get:
      tags: [AI]
      summary: List the current user's AI tutor chat sessions
      responses:
        '200': { description: Session list }
    post:
      tags: [AI]
      summary: Start an AI tutor chat session
      responses:
        '201': { description: Session created }
  /ai/tutor/sessions/{sessionId}/messages:
    get:
      tags: [AI]
      summary: List messages in an AI tutor chat session
      parameters:
        - in: path
          name: sessionId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Message list }
    post:
      tags: [AI]
      summary: Send a message to the AI tutor
      parameters:
        - in: path
          name: sessionId
          required: true
          schema: { type: string }
      responses:
        '200': { description: AI tutor reply }
  /ai/courses/{courseId}/generate-quiz:
    post:
      tags: [AI]
      summary: Generate a draft quiz from course content
      parameters:
        - in: path
          name: courseId
          required: true
          schema: { type: string }
      responses:
        '202': { description: Generation job queued }
  /ai/lessons/{lessonId}/generate-summary:
    post:
      tags: [AI]
      summary: Generate an AI summary for a lesson
      parameters:
        - in: path
          name: lessonId
          required: true
          schema: { type: string }
      responses:
        '202': { description: Generation job queued }
  /ai/lessons/{lessonId}/generate-flashcards:
    post:
      tags: [AI]
      summary: Generate flashcards from a lesson
      parameters:
        - in: path
          name: lessonId
          required: true
          schema: { type: string }
      responses:
        '202': { description: Generation job queued }
  /students/me/flashcards:
    get:
      tags: [AI]
      summary: List saved flashcards for the current user
      responses:
        '200': { description: Flashcard list }
  /ai/videos/{videoId}/generate-transcript:
    post:
      tags: [AI]
      summary: Generate a transcript for a video
      parameters:
        - in: path
          name: videoId
          required: true
          schema: { type: string }
      responses:
        '202': { description: Generation job queued }
  /ai/videos/{videoId}/generate-subtitles:
    post:
      tags: [AI]
      summary: Generate subtitles for a video
      parameters:
        - in: path
          name: videoId
          required: true
          schema: { type: string }
      responses:
        '202': { description: Generation job queued }
  /ai/assignments/{submissionId}/grade:
    post:
      tags: [AI]
      summary: Request AI-assisted grading for a submission
      parameters:
        - in: path
          name: submissionId
          required: true
          schema: { type: string }
      responses:
        '202': { description: Grading job queued }
  /ai/recommendations/courses:
    get:
      tags: [AI]
      summary: AI-powered course recommendations for the current user
      responses:
        '200': { description: Recommended course list }
  /ai/recommendations/learning-paths:
    get:
      tags: [AI]
      summary: AI-powered learning path recommendations
      responses:
        '200': { description: Recommended learning path list }
  /ai/search:
    get:
      tags: [AI]
      summary: Natural-language semantic search across the catalog
      security: []
      parameters:
        - in: query
          name: q
          required: true
          schema: { type: string }
      responses:
        '200': { description: Search results }

  # ---------- Webhooks (inbound, provider-signed) ----------
  # NOTE: implemented as two generic, provider-parameterized routes rather
  # than one literal path per provider — see apps/commerce/views.py
  # ProviderWebhookView/MpesaWebhookView and apps/commerce/providers/
  # registry.py. Video/Zoom/Google-Meet webhooks were planned but never
  # built (conferencing integration in this codebase is OAuth-based —
  # connect/callback — not webhook-based); removed rather than
  # documenting endpoints that return 404.
  /webhooks/{provider}:
    post:
      tags: [Webhooks]
      summary: Payment provider event webhook
      security: []
      description: >-
        Signature-verified per provider (see each provider adapter's
        verify_and_parse_webhook). Events are deduplicated by
        (provider, provider_event_id) — a replayed event is acknowledged
        without reprocessing.
      parameters:
        - in: path
          name: provider
          required: true
          schema: { type: string, enum: [stripe, paypal, flutterwave, paystack] }
      responses:
        '200': { description: Event accepted (or already processed) }
        '404': { description: Unknown provider }
  /webhooks/mpesa/{secret}:
    post:
      tags: [Webhooks]
      summary: M-Pesa event webhook
      security: []
      description: >-
        M-Pesa's callback URL has no signature header, so the callback
        path itself carries a per-integration secret instead
        (X-Callback-Path-Secret).
      parameters:
        - in: path
          name: secret
          required: true
          schema: { type: string }
      responses:
        '200': { description: Event accepted (or already processed) }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    RegisterRequest:
      type: object
      required: [email, password]
      properties:
        email: { type: string, format: email }
        password: { type: string, minLength: 8 }
    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email: { type: string, format: email }
        password: { type: string }
    TokenResponse:
      type: object
      description: Matches SimpleJWT's own field names — access/refresh, not access_token/refresh_token.
      properties:
        access: { type: string }
        refresh: { type: string }
    MFALoginChallenge:
      type: object
      properties:
        mfa_required: { type: boolean, example: true }
        mfa_token:
          type: string
          description: Short-lived (5 min) signed token — pass to /auth/mfa/login-verify along with the TOTP code.
    MFAEnrollResponse:
      type: object
      properties:
        provisioning_uri:
          type: string
          description: otpauth:// URI — render as a QR code for the authenticator app.
        secret:
          type: string
          description: Same secret embedded in provisioning_uri, for manual entry.
    MFACodeRequest:
      type: object
      required: [code]
      properties:
        code: { type: string, minLength: 6, maxLength: 6 }
    MFALoginVerifyRequest:
      type: object
      required: [mfa_token, code]
      properties:
        mfa_token: { type: string }
        code: { type: string, minLength: 6, maxLength: 6 }
    Course:
      type: object
      properties:
        id: { type: string }
        title: { type: string }
        language: { type: string }
        difficulty: { type: string }
        rating: { type: number, format: float }
        price:
          type: object
          properties:
            amount: { type: string }
            currency: { type: string }
    CourseListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Course'
        next_cursor: { type: string, nullable: true }
    LiveSessionCreateRequest:
      type: object
      required: [conferencing_account_id, provider, title, scheduled_start_at, scheduled_end_at, timezone]
      properties:
        conferencing_account_id: { type: string }
        provider: { type: string, enum: [zoom, google_meet] }
        title: { type: string }
        description: { type: string }
        scheduled_start_at: { type: string, format: date-time }
        scheduled_end_at: { type: string, format: date-time }
        timezone: { type: string, description: 'IANA timezone, e.g. Africa/Nairobi' }
        capacity: { type: integer, nullable: true }
        is_recorded: { type: boolean, default: true }
    LiveSession:
      type: object
      properties:
        id: { type: string }
        course_id: { type: string, nullable: true }
        provider: { type: string, enum: [zoom, google_meet] }
        title: { type: string }
        status: { type: string, enum: [scheduled, live, ended, canceled] }
        scheduled_start_at: { type: string, format: date-time }
        scheduled_end_at: { type: string, format: date-time }
    HackathonCreateRequest:
      type: object
      required: [title, registration_deadline, submission_deadline, starts_at, ends_at]
      properties:
        title: { type: string }
        host_type: { type: string, enum: [internal, partner], default: internal }
        partner_name: { type: string, description: Required when host_type is 'partner'. }
        partner_url: { type: string }
        summary: { type: string }
        description: { type: string }
        requirements: { type: string, description: Eligibility, team, and submission requirements. }
        prize_summary: { type: string, example: "$10,000 in prizes" }
        registration_opens_at: { type: string, format: date-time, nullable: true }
        registration_deadline: { type: string, format: date-time }
        submission_deadline: { type: string, format: date-time }
        starts_at: { type: string, format: date-time }
        ends_at: { type: string, format: date-time }
        capacity: { type: integer, nullable: true }
    Hackathon:
      type: object
      properties:
        id: { type: string }
        title: { type: string }
        slug: { type: string }
        summary: { type: string }
        description: { type: string }
        host_type: { type: string, enum: [internal, partner] }
        partner_name: { type: string }
        requirements: { type: string }
        prize_summary: { type: string }
        registration_deadline: { type: string, format: date-time }
        submission_deadline: { type: string, format: date-time }
        starts_at: { type: string, format: date-time }
        ends_at: { type: string, format: date-time }
        capacity: { type: integer, nullable: true }
        registered_count: { type: integer }
        status: { type: string, enum: [draft, published, canceled] }
        phase:
          type: string
          enum: [draft, upcoming, active, completed, canceled]
          description: Derived from status + starts_at/ends_at at read time — not a stored column.
        winners:
          type: array
          items:
            type: object
            properties:
              placement: { type: integer }
              prize_description: { type: string }
              submission:
                type: object
                properties:
                  title: { type: string }
                  repo_url: { type: string }
                  demo_url: { type: string }
        timezone: { type: string }
        external_meeting_id: { type: string }
        host_join_url: { type: string }
